<?xml version="1.0" encoding="utf-8"?>
<Configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Name>Primo VE</Name>
  <Author>IDS Project</Author>
  <Version>2.0</Version>
  <Active>True</Active>
  <Type>Addon</Type>
  <Description>Performs an Title, ISBN, and ISSN Search in the Primo VE interface.  Updated for Chromium.</Description>
  <Forms>
    <Form>FormRequest</Form>
  </Forms>
  <Permissions />
  <Settings>
    <Setting name="AutoSearchISxN" value="false" type="boolean">
      <Description>Defines whether the ISxN search should be automatically performed when the form opens.</Description>
    </Setting>
    <Setting name="AutoSearchOCLC" value="false" type="boolean">
      <Description>Defines whether the OCLC# search should be automatically performed when the form opens.</Description>
    </Setting>
    <Setting name="AutoSearchTitle" value="true" type="boolean">
      <Description>Defines whether the Title search should be automatically performed when the form opens.</Description>
    </Setting>
    <Setting name="WhichTitle" value="true" type="boolean">
      <Description>Check box to search Article Title instead of Journal Title</Description>
    </Setting>
    <Setting name="PrimoVEURL" value="" type="string">
      <Description>Defines the default landing page for your Primo VE page  See the ReadMe for an example.</Description>
    </Setting>
    <Setting name="BaseVEURL" value="" type="string">
      <Description>Defines the base of your Primo VE URL. See the ReadMe for an example.</Description>
    </Setting>
    <Setting name="SearchScope" value="MyInstitution" type="string">
      <Description>Defines the search scope of your Primo VE URL. Default is MyInstitution</Description>
    </Setting>
    <Setting name="DatabaseName" value="" type="string">
      <Description>Defines the Database Name of your Primo VE URL. See the ReadMe for an example.</Description>
    </Setting>
	<Setting name="BarcodeLocation" value="ReferenceNumber" type="string">
      <Description>Defines the location for the Barcode. Example: ReferenceNumber.</Description>
    </Setting>
  </Settings>
  <Files>
    <File>PrimoVE.lua</File>
  </Files>
</Configuration>